@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2 {
    text-align: center;
}

button {
    background-color: rgb(148, 247, 247);
    border-radius: 5px;
    padding: 3px 5px;
    margin: 5px;
}

@keyframes brilho_aceita {
    0% { color: rgb(116, 250, 116); } 
    50% { color: green; } 
    100% { color: rgb(116, 250, 116); } 
}

@keyframes brilho_rejeita {
    0% { color: rgb(255, 115, 115); } 
    50% { color: red; } 
    100% { color: rgb(255, 115, 115); } 
}


.aceita_cadeia {
    
    animation: brilho_aceita 0.5s linear;
    color: green;
}

.rejeita_cadeia {
    animation: brilho_rejeita 0.5s linear;
    color: red;
}

input, select {
    font-size: medium;
}

.container_geral {
    display: flex;
    justify-content: space-between;
    margin: 20px;   
}

.borda_div {
    border: 1px solid black;
    padding: 20px;
    width: 48%;
}

#exibicao_automato {
    display: flex;
    flex-direction: column;
}

.automatos-container {
    margin-bottom: 20px;
}

.automatos-list {
    padding: 10px;
    min-height: 100px;
}

#container_exibicao{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
}

.tabela_transicoes {
    margin: 0 auto;
    width: 50%; 
    border-collapse: collapse;
}

.tabela_transicoes th, .tabela_transicoes td {
    padding: 8px; 
    text-align: center; 
}

.tabela_transicoes th {
    background-color: #f2f2f2; 
    font-weight: bold;
}

.tabela_transicoes td {
    border: 1px solid rgba(0, 0, 0, 0.377); 
}

.tabela_transicoes td:first-child {
    font-weight: bold; 
}
